body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 500px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    background-color: lightgray;
}

.display {
    background: lightgreen;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 5px;
    margin-left: 13px;
    margin-right: 13px;
    text-align: right;
    font-size: 35px;
    height: 45px;
    padding: 3px;
}


.calculatorInputContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 5px;
}


.row {
    display: flex;
    justify-content: center;
    height: 20%;
}

.number,
.operator,
.decimal,
.clear,
.posNeg,
.percent,
.equals {
    width: 24%;
    height: 100%;
}

.operator,
.equals,
.clear,
.posNeg,
.percent {
    background: #acacac
}

#zero {
    width: 48%;
}